<div class="row">
    <div class="col-md-8">
        <p>{{burger_name}}</p>
    </div>
    <div class="col-md-4">
        <button class="eat-clean" data-id="{{id}}" data-state="{{devoured}}">
            {{#if devoured}}Clean up plate{{else}}Eat Da Burger!{{/if}}
        </button>
    </div>
</div>
